<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration lunette - Bocasay!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for backoffice -->
        <link href="{{ asset('css/backoffice.css') }}" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="{{ asset('js/ie8-responsive-file-warning.js') }} "></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('main_homepage') }}"><img src="{{ asset('images/logo.png')}}" width="50px"> Bocasay lunette </a>

        </div>
        <p class="text-right deconnexion"><a href="{{ path("fos_user_security_logout") }}"><span class="glyphicon glyphicon-off"></span> Deconnexion</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a>Gestion Commandes</a></li>
            <li><a href="{{ path('backoffice_commande_index') }}">Liste</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a>Produits</a></li>
            <li><a href="{{ path('backoffice_produit_index') }}">Liste</a></li>
            <li><a href="{{ path('backoffice_produit_new') }}">Nouveau</a></li>
            
            <li><a href="{{ path("backoffice_stock_index")}}">Stock</a>
              <ul>
                <li><a href="{{ path('backoffice_entreeproduit_index') }}">Ajout</a></li>
                <li><a href="{{ path('backoffice_sortieproduit_index') }}">Retrait</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a>Fournisseurs</a></li>
            <li><a href="{{ path('backoffice_fournisseur_index') }}">Liste</a></li>
            <li><a href="{{ path('backoffice_fournisseur_new') }}">Nouveau</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a>Marque Produits</a></li>
            <li><a href="{{ path('backoffice_marqueproduit_index') }}">Liste</a></li>
            <li><a href="{{ path('backoffice_marqueproduit_new') }}">Nouveau</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a>Clients</a></li>
            <li><a href="{{ path('backoffice_client_index') }}">Liste</a></li>
            <li><a href="{{ path('backoffice_client_new') }}">Nouveau client</a></li>
            
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-2 col-md-10 main">

            {% block body %}{% endblock %}

          
        </div>
      </div>
    </div>
        
        {% block javascripts %}
            <!-- Bootstrap core JavaScript
                ================================================== -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="{{ asset('js/bootstrap.min.js') }} "></script>
                <script src="{{ asset('js/docs.min.js')}}"></script>
                <script type="text/javascript">
                  function deleteList(){
                      if(confirm('Voulez-vous vraiement le supprimer?')){
                          return true;
                      }else{
                          return false;
                      }
                  }
              </script>
        {% endblock %}
    </body>
</html>
