{% set current_route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Accueil - Bocasay!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="{{ asset('js/ie8-responsive-file-warning.js') }} "></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if current_route != 'fos_user_security_login' %}
        <div class="site-wrapper">
        <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              
              <span class="masthead-brand"><a href="{{ path('main_homepage') }}"><img src="{{ asset('images/logo.png')}}" width="50px"> Bocasay lunette</a></span>
              <ul class="nav masthead-nav">
                <li  {% if current_route == 'main_homepage' %} class="active" {% endif %}><a href="{{ path('main_homepage') }} ">Accueil</a></li>
                <li {% if current_route == 'main_panierpage' %} class="active" {% endif %}><a  href="{{ path('main_panierpage') }}">Mon Panier</a></li>
                <li><a href="{{ path('back_office_homepage') }}" target="_blank">Administration</a></li>
              </ul>
            </div>
          </div>
        {% endif %}
        {% block body %} {% endblock %}

        {% if current_route != 'fos_user_security_login' %}
            <div class="mastfoot">
            <div class="inner">
              <p>@Copyright 2018, by <a href="https://www.bocasay.com/">Bocasay</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    {% endif %}
        {% block javascripts %} 
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <script src="{{ asset('js/bootstrap.min.js') }} "></script>
          
        {% endblock %}
    </body>
</html>
