{% extends 'base.backoffice.html.twig' %}

{% block body %}
    <div class="row">
    <h1>Tous les Marques des produits</h1>
    <ul class="list-unstyled">
    {% for key, messages in app.session.flashbag.all() %}
        <li class="alert {% if key == 'error'%}alert-danger{%else%}alert-success{% endif %}">
            {% for message in messages %}
                {%if key == 'error'%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>{% endif%} {{ message }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                <th>Marque</th>
                <th>Fournisseur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marqueProduit in marqueProduits %}
            <tr>
                
                <td>{{ marqueProduit.marque }}</td>
                <td>{{ marqueProduit.fournisseur.nom }}</td>
                <td>
                    <ul class="list-unstyled action">
                        <li>
                            <a href="{{ path('backoffice_marqueproduit_edit', { 'id': marqueProduit.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        </li>
                        <li>
                            <a href="{{ path('backoffice_marqueproduit_delete', { 'id': marqueProduit.id }) }}" onclick="return deleteList();"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span> Delete</a>
                        </li>
                    </ul>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled action">
        <li>
            <a href="{{ path('backoffice_marqueproduit_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Marque</a>
        </li>
    </ul>
    
</div>
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% endblock %}
