{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marqueproduit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marqueProduit.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ marqueProduit.marque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backoffice_marqueproduit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backoffice_marqueproduit_edit', { 'id': marqueProduit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
