{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignecommandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Qtt</th>
                <th>Prixvente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligneCommande in ligneCommandes %}
            <tr>
                <td><a href="{{ path('backoffice_lignecommande_show', { 'id': ligneCommande.id }) }}">{{ ligneCommande.id }}</a></td>
                <td>{{ ligneCommande.qtt }}</td>
                <td>{{ ligneCommande.prixVente }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backoffice_lignecommande_show', { 'id': ligneCommande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('backoffice_lignecommande_edit', { 'id': ligneCommande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backoffice_lignecommande_new') }}">Create a new ligneCommande</a>
        </li>
    </ul>
{% endblock %}
